.container{
    text-align: center;
}
.imageContainer{
    margin: 0;
}
.image{
    width: 100%;
}
.title{
    color: #59d0d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 3em 0 2em;
    text-align: center;
    text-transform: uppercase;
}
.offersRow{
    width: 90%;
    align-content: center;
}

.slideshow{
    width: 90%;
}

.image-gallery-slide img {
    width: 400px;
  }





