.navbarLink{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    padding: 0 1em;
    color: #979082;
    text-transform: uppercase;
}
.navbarLink:hover{
    text-decoration: none;
    color: #59d0d8;
}
.bookingBtn{
    margin-left: 4em;
    padding: 0.5em 1em;
    border: 1px solid #59d0d8;
    color: #59d0d8;
    border-radius: 3%;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20px;
}
.bookingBtn:hover{
    text-decoration: none;
    background-color: #59d0d8;
    color: #fff;
}
.logoImg{
    width: 125px;
}
