.footer{
    margin-top: 2em; 
    background-color: #979082; 
    color: white;    
    text-align: center;  
    line-height: 80px;    
    height: 80px;
    
}
.footerParagraph {    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}
.icons{
    margin-left: 1em;
}