.title{
    color: #59d0d8;
    font-size: 25px;
    padding-bottom: 1em;
    padding-top: 2em;
}
.desc{
    color: #979082;
    margin-bottom: 20px;
}
.info{
    color: #979082;
    margin-top: 1em;
    width: 70%;
    text-align: justify;
}
